*.pyc
.idea/*
bin/*

input/**/*.obj
input/**/*.dat

output/**/*.obj
output/**/*.dat
output/**/*.txt
output/**/*.csv
output/**/*.json
output/**/*.png

input/
build/
.vscode/
misc/

callgrind.out.*
*.log